

<% if user_signed_in? %>
    <div class="col-lg-8 mt-5 text-center">
      <div class="card mb-4">
  
        <div class="card-body">
  
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= current_user.name%><br></p>
              </div>
            </div>
  
              <hr>
                <div class="row">
                 <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                 </div>
                 <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= current_user.email%><br></p>
                   </div>
                </div>
               <hr>
                
               <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><%= link_to "Apply",apply_path%></p>
                 </div>
                
               </div>
               <hr>

                
               <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><%= link_to "Track" %></p>
                 </div>
                
               </div>
               <hr>
                
          </div>
       
           <% end %>
  
                </div>
      
        </div>
      </div>
    </div>
  
