




<% if current_user.role =="admin" %>
<!--  -->
<table style="margin: 235px 510px;">
    <tr>
        <th>Name</th>
        <th>Profile</th>
      </tr>

   <tr>
    <%@date.each do  |i|%>
    <td>  
        <%@a = User.find(i.user_id)%>
        <%=@a.name %>
        <%=link_to "Detail" ,data_path(@a.id) %>
    </td> 

    <td>  
        <%=i.profile%>
    </td> 

        
     
       
   </tr>
   
 
    <%end%>
<!--  -->

</table>
<% else%>
<%= "sorry invalid user permission"%>
<%end%>





